

#card-container{

    display: flex;
    justify-content: space-between;
    margin:200px;
    
    margin-bottom:100px ;
    margin-left: 200px;
    margin-right:200px ;

}


body{

background-color: rgb(157, 170, 166);

}


/*---------------logo--------------*/
.logo{

    height: 50x;
    width: 50px;

}
#logo-t{

    margin-left: 10px;
    align-items: center;
}

#text-nav{

    text-decoration: none;
    color: white;

}

#nav-content{

    margin-left: 500px;

}

/*---------------cart--text------------*/
.card-text{

    text-align: center;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*---------------image--car--------------*/
.card-img-top{
    
    height: 140px;
    width: 286px;

}

.card{
    height: 250px;
    width: 100px;
}

/*---------------slide--------------*/
#carouselExampleControls{

text-align: center;

margin-bottom: 150px;
margin-left: 450px;
margin-right: 450px;
}

body{
    
    height: auto;
    width: auto;
    background-image: url("hacker.gif");

}
/*---------copy-right---------*/
#cp-r{

    text-align: center;
    color: white;
    size: 25px;
font-family: 'Times New Roman', Times, serif;}

#div-center{

    margin: 200px;
    
}

#center-label{

font-size: 50px;
margin: 0;
font-family: Georgia, 'Times New Roman', Times, serif;
color: antiquewhite;

}

#center-label1{

     
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 50px;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: antiquewhite;
    
    }

    #button2{
       
        height: 50px;
        width: 200px;
    }

    #carouselExampleIndicators{

        height:400px;
        width: 500px;
       margin-left: 400px;
       margin-right: 400px;

    }